In [17]:
#import Pandas to read our CSV file and create the locations and measurements from the DataFrame
import pandas as pd
#import gmaps to create heatmaps and the locations map
import gmaps
#import requests to make a request to the Google Places JSON file
#allows us to get hotel locations from lat an lng of the city
import requests
#import the API key
from config import g_key
import numpy as np

In [3]:
#store the CSV of city_data into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Williams Lake,CA,2020-08-27 13:58:29,52.14,-122.14,46.40,93,40,0.74
1,1,Puerto Ayora,EC,2020-08-27 13:47:28,-0.74,-90.35,64.99,93,69,5.01
2,2,Haimen,CN,2020-08-27 13:58:30,23.19,116.61,77.00,100,40,4.12
3,3,Manadhoo,MV,2020-08-27 13:58:31,5.77,73.38,83.55,72,61,13.98
4,4,Ribeirao Branco,BR,2020-08-27 13:58:32,-24.22,-48.77,71.40,42,0,2.95

In [4]:
#check the data types of the DataFrame (need integers or floats)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#configure gmaps to use my API key
gmaps.configure(api_key = g_key)

In [6]:
#create the heatmap for max temperature
#1. assign the locations to an array of lat and lng pairs
locations = city_data_df[['Lat', 'Lng']]
#2. get the max temperature
max_temp = city_data_df['Max Temp']
#3. assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
#4. assign the heatmap variable, 
#add max_intensity for better gradient variance, 
#add point_raidus to make measurement radius larger
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                dissipating = False, max_intensity = 300, point_radius =4)
#5.  add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#create the heatmap for %Humidity
#1. assign the locations to an array of lat and lng pairs
locations = city_data_df[['Lat', 'Lng']]
#2. get the %Humidity
humidity = city_data_df['Humidity']
#3. assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
#4. assign the heatmap variable, 
#add max_intensity for better gradient variance, 
#add point_raidus to make measurement radius larger
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False, max_intensity = 300, point_radius =4)
#5.  add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#create the heatmap for cloudiness
#1. assign the locations to an array of lat and lng pairs
locations = city_data_df[['Lat', 'Lng']]
#2. get the %cloudiness
clouds = city_data_df['Cloudiness']
#3. assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
#4. assign the heatmap variable, 
#add max_intensity for better gradient variance, 
#add point_raidus to make measurement radius larger
heat_layer = gmaps.heatmap_layer(locations, weights = clouds,
                                dissipating = False, max_intensity = 300, point_radius =4)
#5.  add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#create the heatmap for wind speed
#1. assign the locations to an array of lat and lng pairs
locations = city_data_df[['Lat', 'Lng']]
#2. get the max temperature
wind = city_data_df['Wind Speed']
#3. assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
#4. assign the heatmap variable, 
#add max_intensity for better gradient variance, 
#add point_raidus to make measurement radius larger
heat_layer = gmaps.heatmap_layer(locations, weights = wind,
                                dissipating = False, max_intensity = 300, point_radius =4)
#5.  add the heatmap layer
fig.add_layer(heat_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask the customer to add a minium and maximum temperature value.
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [11]:
#filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Haimen,CN,2020-08-27 13:58:30,23.19,116.61,77.00,100,40,4.12
3,3,Manadhoo,MV,2020-08-27 13:58:31,5.77,73.38,83.55,72,61,13.98
4,4,Ribeirao Branco,BR,2020-08-27 13:58:32,-24.22,-48.77,71.40,42,0,2.95
5,5,Saint-Pierre,RE,2020-08-27 13:52:55,-21.34,55.48,75.20,53,90,4.70
7,7,Bahir Dar,ET,2020-08-27 13:58:33,11.59,37.39,71.31,76,97,5.84
8,8,Ponta Do Sol,PT,2020-08-27 13:51:10,32.67,-17.10,87.01,51,20,18.34
9,9,Bandarbeyla,SO,2020-08-27 13:53:47,9.49,50.81,79.83,71,100,31.68
12,12,Jamestown,US,2020-08-27 13:51:20,42.10,-79.24,77.00,88,90,12.75
13,13,Cayenne,GF,2020-08-27 13:58:36,4.93,-52.33,89.60,66,75,3.36
14,14,Cabedelo,BR,2020-08-27 13:58:36,-6.98,-34.83,82.40,65,40,18.34

In [12]:
preferred_cities_df.count()

City_ID       287
City          287
Country       287
Date          287
Lat           287
Lng           287
Max Temp      287
Humidity      287
Cloudiness    287
Wind Speed    287
dtype: int64

In [13]:
#create DataFrame called hotel_df to stoare hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']]
hotel_df['Hotel Name'] = ""
hotel_df.head(10)

C:\Users\leahb\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               City Country  Max Temp    Lat     Lng Hotel Name
2            Haimen      CN     77.00  23.19  116.61
3          Manadhoo      MV     83.55   5.77   73.38
4   Ribeirao Branco      BR     71.40 -24.22  -48.77
5      Saint-Pierre      RE     75.20 -21.34   55.48
7         Bahir Dar      ET     71.31  11.59   37.39
8      Ponta Do Sol      PT     87.01  32.67  -17.10
9       Bandarbeyla      SO     79.83   9.49   50.81
12        Jamestown      US     77.00  42.10  -79.24
13          Cayenne      GF     89.60   4.93  -52.33
14         Cabedelo      BR     82.40  -6.98  -34.83

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': "lodging",
    'key':g_key
}
#iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #add the lat and lng to location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    #use the search term 'lodging' and lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make the request and get the JSON data
    hotels = requests.get(base_url, params = params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"]= hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\leahb\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df = hotel_df.replace('', np.nan)

In [23]:
hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Lat            0
Lng            0
Hotel Name    21
dtype: int64

In [24]:
hotel_df.dropna()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Haimen,CN,77.00,23.19,116.61,Jinghao Business Hotel
3,Manadhoo,MV,83.55,5.77,73.38,Vevu Guesthouse
4,Ribeirao Branco,BR,71.40,-24.22,-48.77,Restaurante Hotel Andorinhas
5,Saint-Pierre,RE,75.20,-21.34,55.48,Lindsey Hôtel
7,Bahir Dar,ET,71.31,11.59,37.39,"Delano Hotel, Bahir Dar"
...,...,...,...,...,...,...
555,Honjo,JP,79.00,36.23,139.18,Hotel Honjo
556,Manjacaze,MZ,72.91,-24.71,33.88,Hotel Gani
557,Nardaran,AZ,82.40,40.56,50.01,Bilgah Beach Hotel
558,Sao Francisco Do Sul,BR,72.00,-26.24,-48.64,Hotel Kontiki
560,San Vicente,AR,79.27,-26.62,-54.13,Complejo Turístico Farelluk

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Haimen,CN,77.00,23.19,116.61,Jinghao Business Hotel
3,Manadhoo,MV,83.55,5.77,73.38,Vevu Guesthouse
5,Saint-Pierre,RE,75.20,-21.34,55.48,Lindsey Hôtel
8,Ponta Do Sol,PT,87.01,32.67,-17.10,Hotel do Campo
9,Bandarbeyla,SO,79.83,9.49,50.81,REER XOOSHLE GROUP
12,Jamestown,US,77.00,42.10,-79.24,Hampton Inn & Suites Jamestown
13,Cayenne,GF,89.60,4.93,-52.33,Hôtel Le Dronmi
14,Cabedelo,BR,82.40,-6.98,-34.83,Lua Mansa Pousada
17,Baturaja,ID,75.06,-4.13,104.17,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
18,Fostoria,US,79.00,41.16,-83.42,Best Western Fostoria Inn & Suites

In [19]:
#create an info box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#store the DataFrame row for the info box
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
#create the heatmap for max temperature for hotels_df with a marker for each city
#1. assign the locations to an array of lat and lng pairs
locations = hotel_df[['Lat', 'Lng']]
#2. get the max temperature
max_temp = hotel_df['Max Temp']
#3. assign the figure variable and add a geographic center and zoom level to show only one map of Earth
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
#4. assign the heatmap variable, 
#add max_intensity for better gradient variance, 
#add point_raidus to make measurement radius larger
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp],
                                dissipating = False, max_intensity = 300, point_radius =4)
#add location markers for each city and add the info box
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
#5.  add the heatmap layer
fig.add_layer(heat_layer)
#add the marker layer
fig.add_layer(marker_layer)
#6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))